<launch>
  <arg name="robot_id" default="$(optenv ROBOT_ID unnamed_robot)"/>

  <group ns="$(arg robot_id)">
    <node pkg="nmpc_nav_control" type="nmpc_nav_control" name="nmpc_nav_control" output="screen">
      <rosparam command="load" subst_value="true" file="$(dirname)/../config/nmpc_nav_control.yaml"/>
    </node>
  </group>
</launch>
